@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 20px !important;
  font-family: Arial, sans-serif !important;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #000;
}

html {
  background-color: #000;
  transition: background-color 0.5s ease;
}

.main-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
}

@keyframes hoverEffect {
  0%, 100% { color: #2980b9; }
  50% { color: #3498db; }
}

.animate-hover:hover {
  text-decoration: underline;
  animation: hoverEffect 0.3s ease-in-out;
}

.secret-tea {
  opacity: 0.1;
  transition: opacity 0.5s ease;
  font-size: 12px;
  font-style: italic;
}

.secret-tea:hover {
  opacity: 1 !important;
}